<div class="table-container">
  <div class="table-loading" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-responsive-vertical" perfectScrollbar>
    <mat-table [dataSource]="dataSource" class="table">

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          {{'general.actions' | translate}}
        </mat-header-cell>
        <mat-cell class="text-light-gray" *matCellDef="let visit">
          <button mat-icon-button (click)="editVisit(visit)">
            <mat-icon suffix>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- 'date' Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>{{'visit.date' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let visit" title="{{'visit.date' | translate}}"> {{visit.date | date: 'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>
      <!-- 'date' Column -->

      <!-- 'sellerId' Column -->
      <ng-container matColumnDef="sellerId">
        <mat-header-cell *matHeaderCellDef>{{'visit.sellerId' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let visit" title="{{'visit.sellerId' | translate}}"> {{visit.seller?.name}} </mat-cell>
      </ng-container>
      <!-- 'sellerId' Column -->

      <!-- 'total' Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>{{'visit.total' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let visit" title="{{'visit.total' | translate}}"> {{visit.total}} </mat-cell>
      </ng-container>
      <!-- 'total' Column -->

      <!-- 'totalVisit' Column -->
      <ng-container matColumnDef="totalVisit">
        <mat-header-cell *matHeaderCellDef>{{'visit.totalVisit' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let visit" title="{{'visit.totalVisit' | translate}}"> {{visit.totalVisit}} </mat-cell>
      </ng-container>
      <!-- 'totalVisit' Column -->

      <!-- 'description' Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{'visit.description' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let visit" title="{{'visit.description' | translate}}"> {{visit.description}} </mat-cell>
      </ng-container>
      <!-- 'description' Column -->

      <mat-header-row *matHeaderRowDef="dataSource.displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataSource.displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="dataSource.total$ | async" [pageSize]="10" hidePageSize="true"></mat-paginator>
  </div>
</div>