<craftsjs-modal>
  <modal-header>
    <h3 class="text-accent">{{'clientInfo.create' | translate}}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon suffix>close</mat-icon>
    </button>
  </modal-header>
  <modal-body>
    <app-client-info-form #clientInfoForm [clientInfoDto]="clientInfoDto" (save)="close()"></app-client-info-form>
  </modal-body>
  <modal-footer>
    <button type="submit" form="clientInfo-form" mat-raised-button color="accent" [disabled]="clientInfoForm.loadingAction$ | async">
      {{'general.save' | translate}}
    </button>
    <button type="button" mat-raised-button (click)="close()">{{'general.close' | translate}}</button>
  </modal-footer>
</craftsjs-modal>