$font-size-base:14px !default;
$gray-base: #000;
$craftsjs-theme-variables: (
    transition-time: 250ms,
    border-radius: 5px,
    font-family-sans-serif: 'Roboto,Helvetica,Arial,sans-serif',
    font-family-serif: 'Roboto Slab, Times New Roman serif',
    font-family-monospace: 'Menlo, Monaco, Consolas, "Courier New", monospace',
    font-size-base: $font-size-base,
    font-size-large: ceil(($font-size-base * 1.25)),
    font-size-smal: ceil(($font-size-base * 0.85)),
    font-size-h1: 3.8em,
    font-size-h2: 2.6em,
    font-size-h3: 1.8em,
    font-size-h4: 1.3em,
    font-size-h5: 1.1em,
    font-size-h6: 1em,
    font-paragraph: 16px,
    font-size-small: 12px,
    headings-font-weight: 300,
    font-weight-light: 300,
    font-weight-default: 400,
    font-weight-bold: 500,
    font-weight-extra-bold: 700,
    font-weight-ultra-bold: 900,
    gray-base: $gray-base,
    gray-darker:lighten($gray-base, 13.5%),
    gray-dark: lighten($gray-base, 20%),
    gray: lighten($gray-base, 33.5%),
    gray-light: #999999,
    gray-lighter: lighten($gray-base, 93.5%),
    color-blue: #20a9d2,
    color-success: #5cb85c,
    color-info: #5bc0de,
    color-warning: #e09d3d,
    color-danger: #d43934,
    gray-color: #696868,
    text: white
);